<h1>Drivers</h1>

<%= link_to "Create new driver", new_driver_path %>

<br></br>

<table>
<tr>
<th>Driver</th>

<th>Lastname</th>
<th>Wins</th>
<th>Edit/Delete</th>
</tr>

<% @drivers.each do |driver|%>
    <tr>
     <td><%= link_to driver.first_name, driver_path(driver) %></td>
     <td><%= driver.last_name%></td>
     <td><%= driver.wins%></td>
     <td>
     <%= link_to 'Edit', edit_driver_path(driver) %>
     &nbsp;|&nbsp;
     <%= link_to 'Delete', driver_path(driver) %>
     </td>
    
    </tr>
    <% end %>
</table>