<h1 class="signinfo">New car for <%= @driver.first_name %></h1>

<%= form_for [@driver, @car] do |f| %>
  <%= render_field(f, :brand_name, 'Brand name') %>
  <%= render_field(f, :topspeed, 'Topspeed') %>
  <%= render_field(f, :downforce, 'Downforce') %>
  <%= f.submit 'Confirm' %>
<% end %>
