<h1>New car for <%= @driver.first_name %></h1>

<%= form_for [@driver, @car] do |f| %>

 <div class='field'>
 <%= f.label :brand_name, 'Brand name' %>
 <%= f.text_field :brand_name %>
 </div>

 <div class='field'>
 <%= f.label :topspeed, 'Topspeed' %>
 <%= f.text_field :topspeed %>
 </div>

 <div class='field'>
 <%= f.label :downforce, 'Downforce' %>
 <%= f.text_field :downforce %>
 </div>

 <%= f.submit 'Confirm'%>

    <% end %>